<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>完善资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/login.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <form class="layui-form" action="" lay-filter="component-form-group">

        <div class="layui-card">
            <div class="layui-card-header">企业营业执照及法人信息</div>
            <div class="layui-card-body" style="padding: 15px;">


                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 130px">统一社会信用代码</label>
                    <div class="layui-input-block" style="margin-left: 160px">
                        <div class="layui-row layui-inline" style="width: 100%">
                            <div class="layui-col-md6 layui-inline">
                                <input type="text" name="code" lay-verify="required" placeholder="请输入统一社会信用代码"
                                       autocomplete="off" class="layui-input" style="width: 100%">

                            </div>
                        </div>
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 130px">法人姓名</label>
                    <div class="layui-input-block" style="margin-left: 160px">
                        <div class="layui-row layui-inline" style="width: 100%">
                            <div class="layui-col-md6 layui-inline">
                                <input type="text" name="userName" lay-verify="required" placeholder="请输入法人姓名"
                                       autocomplete="off" class="layui-input" style="width: 100%">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 130px">姓名</label>
                    <div class="layui-input-block" style="margin-left: 160px">
                        <div class="layui-row layui-inline" style="width: 100%">
                            <div class="layui-col-md6 layui-inline">
                                <input type="text" name="name" lay-verify="required" placeholder="请输入姓名"
                                       autocomplete="off" class="layui-input" style="width: 100%">

                            </div>
                        </div>
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 130px">法人身份证号</label>
                    <div class="layui-input-block" style="margin-left: 160px">
                        <div class="layui-row layui-inline" style="width: 100%">
                            <div class="layui-col-md6 layui-inline">
                                <input type="text" name="idCode" lay-verify="required" placeholder="请输入法人身份证号"
                                       autocomplete="off" class="layui-input" style="width: 100%">

                            </div>
                        </div>
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 130px">上传企业营业执照</label>
                    <div class="layui-input-block" style="margin-left: 160px">
                        <div class="layui-row layui-inline" style="width: 100%">
                            <div class="layui-col-md6 layui-inline">
                                <div class="layui-card">
                                    <div class="layui-card-body">
                                        <div class="layui-upload">
                                            <button type="button" class="layui-btn" id="test-upload-more"><i
                                                    class="layui-icon"></i>点击上传企业营业执照
                                            </button>
                                            <blockquote class="layui-elem-quote layui-quote-nm"
                                                        style="margin-top: 10px;">
                                                预览图：
                                                <div class="layui-upload-list" id="test-upload-more-list"></div>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 130px">添加法人身份证</label>
                    <div class="layui-input-block" style="margin-left: 160px">
                        <div class="layui-row layui-inline" style="width: 100%">
                            <div class="layui-col-md6 layui-inline">
                                <div class="layui-card">
                                    <div class="layui-card-body">
                                        <div class="layui-upload">
                                            <button type="button" class="layui-btn" id="IDCardA-upload-more"><i
                                                    class="layui-icon"></i>点击上传文件法人身份证（正面）
                                            </button>
                                            <a href="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1572102240218&di=e19543487620035f45bbfbf3bb72d0bb&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fw%3D580%2Fsign%3Db4e7ce770a24ab18e016e13f05fbe69a%2F08e8a0292df5e0fe7fa4a2505f6034a85fdf721f.jpg"
                                               target="_blank">查看样张</a>
                                            <blockquote class="layui-elem-quote layui-quote-nm"
                                                        style="margin-top: 10px;">
                                                预览图：
                                                <div class="layui-upload-list" id="IDCardA-upload-more-list"></div>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md6 layui-inline">
                                <div class="layui-card">
                                    <div class="layui-card-body">
                                        <div class="layui-upload">
                                            <button type="button" class="layui-btn" id="IDCardB-upload-more"><i
                                                    class="layui-icon"></i>点击上传文件法人身份证（反面）
                                            </button>
                                            <a href="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1572102240218&di=e19543487620035f45bbfbf3bb72d0bb&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fw%3D580%2Fsign%3Db4e7ce770a24ab18e016e13f05fbe69a%2F08e8a0292df5e0fe7fa4a2505f6034a85fdf721f.jpg"
                                               target="_blank">查看样张</a>
                                            <blockquote class="layui-elem-quote layui-quote-nm"
                                                        style="margin-top: 10px;">
                                                预览图：
                                                <div class="layui-upload-list" id="IDCardB-upload-more-list"></div>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">贸易单据</div>
            <div class="layui-card-body" style="padding: 15px;">


                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 130px">税单</label>
                    <div class="layui-input-block" style="margin-left: 160px">
                        <div class="layui-row layui-inline" style="width: 100%">
                            <div class="layui-col-md3 layui-inline">
                                <button type="button" class="layui-btn" id="bill-upload-more" style="width: 100%"><i
                                        class="layui-icon"></i>点击上传税单
                                </button>
                            </div>
                            <div class="layui-col-md3">
                                <a target="_blank"
                                   href="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1572102240218&di=e19543487620035f45bbfbf3bb72d0bb&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fw%3D580%2Fsign%3Db4e7ce770a24ab18e016e13f05fbe69a%2F08e8a0292df5e0fe7fa4a2505f6034a85fdf721f.jpg">查看样张</a>
                            </div>
                        </div>
                        <div class="layui-row layui-inline" style="width: 100%">
                            你想说点啥就说啥
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 130px">物流单</label>
                    <div class="layui-input-block" style="margin-left: 160px">
                        <div class="layui-row layui-inline" style="width: 100%">
                            <div class="layui-col-md3 layui-inline">
                                <button type="button" class="layui-btn" id="logistics-bill-upload-more"
                                        style="width: 100%">
                                    <i
                                            class="layui-icon"></i>点击上传物流单
                                </button>
                            </div>
                        </div>
                        <div class="layui-row layui-inline" style="width: 100%">
                            你想说点啥就说啥
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 130px">
                        保险单
                    </label>
                    <div class="layui-input-block" style="margin-left: 160px">
                        <div class="layui-row layui-inline" style="width: 100%">
                            <div class="layui-col-md3 layui-inline">
                                <button type="button" class="layui-btn" id="insurance-upload-more"
                                        style="width: 100%">
                                    <i
                                            class="layui-icon"></i>点击上其他附近
                                </button>
                            </div>
                        </div>
                        <div class="layui-row layui-inline" style="width: 100%">
                            你想说点啥就说啥
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 130px">
                        报关单
                    </label>
                    <div class="layui-input-block" style="margin-left: 160px">
                        <div class="layui-row layui-inline" style="width: 100%">
                            <div class="layui-col-md3 layui-inline">
                                <button type="button" class="layui-btn" id="customs-upload-more"
                                        style="width: 100%">
                                    <i
                                            class="layui-icon"></i>点击上其他附近
                                </button>
                            </div>
                        </div>
                        <div class="layui-row layui-inline" style="width: 100%">
                            你想说点啥就说啥
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 130px">
                        贸易合同
                    </label>
                    <div class="layui-input-block" style="margin-left: 160px">
                        <div class="layui-row layui-inline" style="width: 100%">
                            <div class="layui-col-md3 layui-inline">
                                <button type="button" class="layui-btn" id="trade-upload-more" style="width: 100%">
                                    <i
                                            class="layui-icon"></i>点击上其他附近
                                </button>
                            </div>
                        </div>
                        <div class="layui-row layui-inline" style="width: 100%">
                            你想说点啥就说啥
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">资产证明</div>
            <div class="layui-card-body" style="padding: 15px;">

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 130px">添加资产证明<i class="layui-icon layui-icon-help"
                                                                                  style="ri" id="tip"></i></label>
                    <div class="layui-input-block" style="margin-left: 160px">
                        <div class="layui-row layui-inline" style="width: 100%">
                            <div class="layui-col-md6 layui-inline">
                                <div class="layui-card">
                                    <div class="layui-card-body">
                                        <div class="layui-upload">
                                            <button type="button" class="layui-btn" id="balance-upload-more"><i
                                                    class="layui-icon"></i>点击添加资产证明（多次点击添加多张）
                                            </button>
                                            <blockquote class="layui-elem-quote layui-quote-nm"
                                                        style="margin-top: 10px;">
                                                预览图：
                                                <div class="layui-upload-list" id="balance-upload-more-list"></div>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="component-form-element">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>


<script src="/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'upload'], function () {
        var $ = layui.$
            , upload = layui.upload
            , admin = layui.admin
            , layer = layui.layer
            , element = layui.element
            , form = layui.form;

        // form.render(null, 'component-form-element');
        // element.render('breadcrumb', 'breadcrumb');

        //企业营业执照
        var businessImg;
        //身份证 正反面
        var cardA, cardB;
        //税单
        var bill;
        var logisticsBill;
        var insuranceBill;
        var customsBill;
        var tradeBill;
        var balanceBill = [];
        upload.render({
            elem: '#test-upload-more'
            , url: '/file/upload'
            , multiple: false
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#test-upload-more-list').html('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img"  style="width: 100px;height: 100px">')
                });
            }
            , done: function (res) {
                //上传完毕
                if (res.code === 0) {
                    businessImg = res.data.url;
                }
            }
        });
        upload.render({
            elem: '#IDCardA-upload-more'
            , url: '/file/upload'
            , multiple: false
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#IDCardA-upload-more-list').html('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img"  style="width: 100px;height: 100px;margin-right: 20px">')
                });
            }
            , done: function (res) {
                //上传完毕
                if (res.code === 0) {
                    cardA = res.data.url;
                }
            }
        });


        upload.render({
            elem: '#IDCardB-upload-more'
            , url: '/file/upload'
            , multiple: false
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#IDCardB-upload-more-list').html('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img"  style="width: 100px;height: 100px;margin-right: 20px">')
                });
            }
            , done: function (res) {
                //上传完毕

                if (res.code === 0) {
                    cardB = res.data.url;
                }
            }
        });

        upload.render({
            elem: '#bill-upload-more'
            , url: '/file/upload'
            , multiple: false
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                // obj.preview(function (index, file, result) {
                //     $('#bill-upload-more-list').html('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img"  style="width: 100px;height: 100px;margin-right: 20px">')
                // });
            }
            , done: function (res) {
                //上传完毕

                if (res.code === 0) {
                    bill = res.data.url;
                }
            }
        });

        upload.render({
            elem: '#logistics-bill-upload-more'
            , url: '/file/upload'
            , multiple: false
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                // obj.preview(function (index, file, result) {
                //     $('#bill-upload-more-list').html('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img"  style="width: 100px;height: 100px;margin-right: 20px">')
                // });
            }
            , done: function (res) {
                //上传完毕
                if (res.code === 0) {
                    logisticsBill = res.data.url;
                }
            }
        });


        upload.render({
            elem: '#insurance-upload-more'
            , url: '/file/upload'
            , multiple: false
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#insurance-upload-more-list').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img"  style="width: 100px;height: 100px;margin-right: 20px">')
                });
            }
            , done: function (res) {
                //上传完毕 insurance
                if (res.code === 0) {
                    insuranceBill = res.data.url;
                }
            }
        });
        upload.render({
            elem: '#customs-upload-more'
            , url: '/file/upload'
            , multiple: false
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#customs-upload-more-list').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img"  style="width: 100px;height: 100px;margin-right: 20px">')
                });
            }
            , done: function (res) {
                //上传完毕
                if (res.code === 0) {
                    customsBill = res.data.url;
                }
            }
        });
        upload.render({
            elem: '#trade-upload-more'
            , url: '/file/upload'
            , multiple: false
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#trade-upload-more-list').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img"  style="width: 100px;height: 100px;margin-right: 20px">')
                });
            }
            , done: function (res) {
                //上传完毕
                if (res.code === 0) {
                    tradeBill = res.data.url;
                }
            }
        });
        upload.render({
            elem: '#balance-upload-more'
            , url: '/file/upload'
            , multiple: false
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#balance-upload-more-list').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img"  style="width: 100px;height: 100px;margin: 10px">')
                });
            }
            , done: function (res) {
                //上传完毕
                if (res.code === 0) {
                    balanceBill.push(res.data.url);
                }
            }
        });

        $('#tip').on('click', function () {
            layer.tips('土地证，房产证', this, {
                tips: 1
            });
        });

        form.on('submit(component-form-element)', function (data) {
            data.field.businessImg = businessImg;
            data.field.cardA = cardA;
            data.field.cardB = cardB;

            data.field.bill = bill;
            data.field.logisticsBill = logisticsBill;
            data.field.insuranceBill = insuranceBill;
            data.field.customsBill = customsBill;
            data.field.tradeBill = tradeBill;
            data.field.balanceBill = balanceBill;
            console.log(data.field);
            $.ajax({
                method: 'post',
                data: data.field,
                url: '/auth/doAuth'
            });
            return false;
        });
    });
</script>

</body>
</html>